body{
    font-family:"Arial Narrow"; /*          Schrift Arten           */

    font-size:medium;              /*       Schrift größen      */

    background-color : #374f9e;   /*           Seiten hintergerund                        */

                                      /*         Die positions des  inhalt        */
    text-shadow: seashell;
    omargin-top :inherit;
    margin: initial;
    padding-left:revert;
    color:Black;
    text-decoration:Black;
    cursor:revert;
    font-weight:bolder;



}
